{% extends "pilm/base.html" %}
{% load i18n %}
{% block home_logo %}{% trans "Aylik" %}{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/admin/forms.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fcbkcomplete.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/screen.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/vertical/screen.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/buttons/screen.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/custom.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/theme/theme46.css" type="text/css" media="screen" />
{% endblock %}
{% block js %}
{% endblock %}
