{% extends "common/list.html" %}
{% load i18n %}
{% block list_row %}
			<tr class="{% cycle 'row1' 'row2' %}">
				<td class="noline"><a href="{% url pilm.views.file_edit name=object.name%}">{{ object.name }}</a></td>
                <td><a class="delete" href="{% url pilm.views.file_delete name=object.name%}">{% trans "delete" %}</a></td>
			</tr>
{% endblock %}


{% block form %}
    <div class="form">
        <form action="{% url pilm.views.file_create %}" method="post">
            {% csrf_token %}
            <div>{% trans "files:" %}<br/><textarea name="files" rows="10" cols="100">.</textarea></div>
            <div><input type="submit" value="{% trans 'Submit' %}"/></div>
        </form>
    </div>
{% endblock form %}
